body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calculator {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #38bdf8;
}
